<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TinyLibraryContainer" 
         connectionString="metadata=res://*/TinyLibrary.csdl|res://*/TinyLibrary.ssdl|res://*/TinyLibrary.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=QCHEN48\SQLEXPRESS;Initial Catalog=TinyLibraryDB;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>